@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Urbanist:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

:root {
  --orange: #fd853a;
  --eclipse-dash: #feb273;
  --bg-black: #171717;
  --text-rotosh: #344054;
  --bd-before-arrow: #1d2939;
  --btn-dark-text: #151515;
  --bg-tags: #f2f4f7;
  --bg-footer: #272727;
  --bg--inputs: #fcfcfd;
  --bale-text: var(--bg--inputs);
  --bg-dark: #667085;
  --clr-orange: #f97316;
  --clr-light: #f3f4f6;
  --clr-text: #e5e7eb;
  --clr-bg-footer: #0a0a0a;
  --clr-primary: #ff6a00;
  --clr-input-bg: #1c1c1c;
  --clr-input-border: #2d2d2d;
  --clr-radius: 12px;
  --clr-shadow: rgba(0, 0, 0, 0.3);
  --orange: #fd853a;
  --bale-text: var(--bg--inputs);
  --bg-black: #171717;
}

/* Navbar container */
nav {
  border-radius: 20px;
  background-color: var(--bg-black);
  margin: 16px;
  margin-top: 20px;
  padding: 7px;
  height: 3rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Navigation list (desktop) */
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -1.5;
  font-size: clamp(0.4rem, 1vw, 3rem);
  text-align: center;
  /* height: 2rem; */
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.9rem;
  width: 9vw;
  border-radius: 13px;
  color: var(--bale-text);
}

/* Logo area */
.wide-item {
  width: 15%;
  margin: auto 25px;
  overflow: hidden;
}

.icon {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-size: clamp(0.4rem, 1.5vw, 3rem);
  cursor: default;
}

.icon span {
  border-radius: 50%;
  margin-right: 3px;
  background-color: var(--orange);
  height: clamp(0.4rem, 2.5vw, 3rem);
  width: clamp(0.4rem, 2.5vw, 3rem);
}

.hover-text {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  color: var(--bale-text);
  var(--bg--inputs)-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in;
  z-index: 2;
}

.hide-hover {
  opacity: 1;
  color: var(--bale-text);
  visibility: visible;
  transition: opacity 1s ease-in, visibility 1s ease-in;
  position: relative;
}

.icon:hover .hide-hover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 2px;
  left: 30px;
  font-size: clamp(0.4rem, 1.55vw, 2rem);
}

.icon:hover .hover-text {
  position: relative;
  top: 0%;
  left: 0;
  color: var(--bg-tags);
  var(--bg--inputs)-space: nowrap;
  font-weight: 900;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in;
  transition-delay: 0.5s;
  display: block;
  font-size: clamp(0.2rem, 1vw, 1rem);
}

/* Links */
nav ul li a {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.9rem;
  width: 9vw;
  border-radius: 13px;
  color: var(--bale-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--orange);
  color: inherit;
}

.orange {
  color: var(--orange);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: var(--bale-text);
  cursor: pointer;
  position: relative;
}

.menu-toggle span {
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: var(--clr-primary);
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.menu-toggle span:nth-child(1) {
  top: 25%;
}
.menu-toggle span:nth-child(3) {
  top: 75%;
}

.mobile-nav,
.menu-toggle {
  display: none;
}

/* Responsive styles */
@media (max-width: 750px) {
  .mobile-nav,
  .menu-toggle {
    display: block;
  }
  .menu-toggle {
    width: 1.5rem;
    height: 1.5rem;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 1rem; */
    margin: 0;
    padding-top: 3px;
    padding-left: 3px;
    /* padding-right: 5px; */
    margin: 0 5px;
    /* position: relative; */
  }

  .mobile-item {
    color: var(--bg--inputs);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .mobile-item span {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--clr-primary);
    border-radius: 50%;
  }
  .menu-toggle {
    margin-right: 5px;
  }

  .menu-toggle.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    transition: height 0.3s ease;
    overflow: hidden;
    height: 0;
  }

  .mobile-menu.active {
    display: flex;
    height: auto;
  }

  .mobile-nav {
    height: 2.7rem;
    transition: height 0.3s ease;
  }

  .mobile-nav.expanded {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 5.4rem;
  }
}

/* hero */
/*  */

.hero {
  position: relative;
}

.hero__info-top > span:first-of-type {
  border: 2px solid black;
  padding: 5px 15px;
  margin: 4px;
  border-radius: 15px;
  font-size: 0.85rem;
}
.hero__info-top {
  margin-top: 25px;
  text-align: center;
  font-size: clamp(1.2rem, 0.6vw + 1rem, 2rem);
}

.hero__info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.8rem;
  padding: 20px;
  margin: 30px 20px;
}
.hero__info-container div {
  max-width: 25%;
  vertical-align: top;
}

.starContainer {
  display: flex;
}

.starContainer img {
  height: clamp(0.3rem, 2vw, 2rem);
  width: clamp(0.3rem, 4vw, 2rem);
}
/* not working without component */
/* 
.hero__center {
  width: 100%;
  height: 00%;
  border-radius: 50%;
  background-color: orange; 
} */

.hero__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 800px;
}
.frame {
  max-width: 65vw;
  top: -200px;
}

.eclipce {
  max-width: clamp(300px, 50%, 600px);
}
.abs {
  position: absolute;
}

.hero__center-button {
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  width: clamp(200px, 20%, 400px);
  height: clamp(2.5rem, 5vw, 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 2.5rem;
  color: var(--bale-text);
  text-align: center;
}
.hero__center-button a {
  color: inherit;
  text-decoration: none;
  transition: background-color 0.5s ease;
  width: clamp(80px, 25%, 150px);
  padding: 6px;
  border-radius: 15px;
}

.hero__center-button a:hover {
  background-color: var(--orange);
}

/* responsive hero */
@media (max-width: 750px) {
  .hero__info-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: justify;
    margin: 20px auto;
    border: 4px solid var(--eclipse-dash);
    border-radius: 12px;
    gap: 16px;
  }
  .hero__info-container div {
    max-width: 80%;
  }
  .frame {
    top: -30px;
  }
}

/* first section */

.unique.service {
  position: relative; 
  background-image: url("./assests/images/unique.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 5rem 2rem;
  color: var(--bg--inputs);
  text-align: center;
  overflow: hidden;
}

.unique h2{
  font-size: clamp(2rem, 10vw, 3rem);
}

.unique.service > div:first-of-type {
  /* display: flex; */ /* original comment */
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-bottom: 30px;
}

.unique.service p {
  max-width: 400px;
  margin: 0 auto;
  font-size: clamp(0.7rem, 1.9vw, 1.1rem);
  /* color: #e0e0e0; */
}

.service__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.service__element {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 1.5rem;
  width: clamp(220px, 30%, 300px);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
  position: relative;
  z-index: 10; 
}

.service__element:hover {
  transform: translateY(-4px);
}

.service__element h3 {
  color: var(--bale-text);
  margin-bottom: 1rem;
}

.img-wrap {
  position: relative;
  display: inline-block;
  border-radius: 12px;
  overflow: hidden;
}

.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.img-wrap::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 18px 18px 0 0;
}

.arrow-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
}

.arrow-btn::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--bg--inputs);
  border-right: 2px solid var(--bg--inputs);
  transform: rotate(30deg);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: transform 0.3s ease-in-out;
}

.arrow-btn:hover {
  background: var(--orange);
  transition: background 0.5s ease-in, transform 0.5s ease-in;
}

.arrow-btn:hover::after {
  transform: rotate(45deg);
}


.bg-component {
  position: absolute;
  top: var(--pos-top);
  left: var(--pos-left);
  transition: none;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  pointer-events: none; 
}


.bg-component:nth-of-type(1) {
  top: 12%;
  left: 7%;
  width: 250px;
  height: 250px;
}

.bg-component:nth-of-type(2) {
  top: 28%;
  left: 55%;
  width: 190px;
  height: 190px;
}

.bg-component:nth-of-type(3) {
  top: 45%;
  left: 75%;
  width: 100px;
  height: 100px;
}

.bg-component:nth-of-type(4) {
  top: 60%;
  left: 8%;
  width: 300px;
  height: 300px;
}

.bg-component:nth-of-type(5) {
  top: 70%;
  left: 68%;
  width: 400px;
  height: 400px;
}

.bg-component:nth-of-type(6) {
  top: 82%;
  left: 35%;
  width: 90px;
  height: 90px;
}

/* second section */

:root {
  --orange: #fd853a;
  --bg-black: #171717;
  --bale-text: var(--bg--inputs);
}

.journey {
  max-width: 900px;
  margin: 3rem auto;
  padding: 0 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--bale-text);
}

.journey h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 600;
  color: var(--orange);
}

.journey__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 4%;
  justify-content: center;
}

.journey__item {
  position: relative;
  background-color: var(--bg-black);
  padding: 1.8rem 2rem 1.8rem 3.5rem;
  border-radius: 15px;
  width: calc(50% - 2%);
  box-shadow: 0 3px 12px rgba(253, 133, 58, 0.15);
  font-weight: 400;
  line-height: 1.4;
  cursor: default;
}


.journey__item::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--orange);
  box-shadow: 0 0 6px var(--orange);
}

.journey__item:nth-child(odd):not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 38px;
  transform: translateY(-50%);
  width: calc(100% + 20px);
  height: 2px;
  background: var(--orange);
  opacity: 0.3;
  border-radius: 1px;
  z-index: -1;
}

.journey__item:nth-child(even)::after,
.journey__item:last-child::after {
  display: none;
}

.journey__item h3 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--orange);
}

.journey__item .date {
  font-size: 0.85rem;
  font-style: italic;
  margin-bottom: 1rem;
  opacity: 0.6;
  font-weight: 400;
}

.journey__item p {
  font-size: 1rem;
  color: var(--bale-text);
}

.journey__item.active {
  border-left: 6px solid var(--orange);
  border-bottom: 6px solid var(--orange);
  box-shadow:
    0 0 10px var(--orange);
  font-weight: 700;
  transform: scale(1.02);

}

@media (max-width: 700px) {
  .journey__container {
    gap: 1.5rem 0;
  }
  .journey__item {
    width: 100%;
    padding-left: 3rem;
  }
  .journey__item::after {
    display: none;
  }
}


/* section third */

.hire {
  background-color: var(--bg-tags);
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
  padding: 6rem 3rem;
  /* gap: 1rem; */
  /* min-height: 100vh; */
  color: var(--clr-text);
}

.hire__pic {
  position: relative;
  max-width: fit-content;
}

.main-img {
  width: clamp(250px, 35vw, 400px);
  height: auto;
  object-fit: cover;
  /* display: block; */
  position: relative;
  z-index: 3;
}

.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hire__pic:hover .overlay-img {
  opacity: 1;
  transform: scale(1.05);
  animation: jiggle 1s infinite ease-in-out;
}

@keyframes jiggle {
  0%,
  100% {
    transform: scale(1.05) translate(0px, 0px);
  }
  25% {
    transform: scale(1.05) translate(2px, -2px);
  }
  50% {
    transform: scale(1.05) translate(-2px, 2px);
  }
  75% {
    transform: scale(1.05) translate(1px, -1px);
  }
}

.hire__info {
  width: clamp(300px, 50vw, 450px);
}

.hire__info h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  margin-bottom: 1rem;
  color: var(--bg-black);
}

.hire__info p {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: var(--bg-black);
}

.hire__info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.hire__info-container h3 {
  font-size: 1.4rem;
  color: var(--bd-before-arrow);
}

.hire__info-container span {
  display: block;
  font-size: 0.9rem;
  color: var(--bg-footer);
}

.hire-btn {
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.6s ease, border 0.6s ease-in;
  border: 2px solid black;
  color: black;
  background-color: transparent;
}

.hire-btn:hover {
  background-color: var(--clr-orange);
  border: none;
  color: var(--bale-text);
}

/* forth section  */

.portfolio {
  padding: 5rem 2rem;
  color: var(--bg-footer);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.portfolio__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio__head h2 {
  font-size: clamp(2rem, 7vw, 2.4rem);
} 

.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--bg--inputs);
  font-size: 1.2rem;
  z-index: 2;
  margin: 0;
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.portfolio__gallery-project {
  background-color: var(--bg-light);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.portfolio__gallery-project h2 {
  font-size: clamp(1rem, 5vw, 4rem);
}
.portfolio__gallery-project img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  background-color: #ccc;
}

.arrow-btn-portfolio {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--orange);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.arrow-btn-portfolio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--orange);
  border-right: 2px solid var(--orange);
  transform: translate(-50%, -50%) rotate(15deg);
  transition: transform 0.4s ease;
}

.arrow-btn-portfolio:hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.portfolio__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.tag {
  padding: 0.5rem 1rem;
  background-color: var(--clr-light);
  border-radius: 2rem;
  font-size: 0.9rem;
  color: var(--bg-footer);
  border: 1px solid var(--bg-footer);
  cursor: default;
}

.tag:hover {
  transform: translateY(-4px);
  transition: transform 0.5s ease;
}
.portfolio__end {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
  border-radius: 1rem;
  padding: 2rem;
  color: var(--bg-footer);
}

.portfolio__end h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--bg-footer);
}

.portfolio__end button {
  position: relative;
  top: 0;
  left: 0;
  max-width: 2rem;
  border: none;
}

.portfolio__end p {
  font-size: 1rem;
  line-height: 1.6;
}

/*  added test */

.testimonial {
  position: relative; 
  background-image: url("./assests/images/unique.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 5rem 2rem;
  color: var(--bg--inputs);
  text-align: center;
  overflow: hidden;
} 

.testimonial .free-comp {
  position: absolute;
  width: 150px;
  opacity: 0.08;
  pointer-events: none;
  user-select: none;
  top: 10%;
  right: 5%;
  z-index: 0;
  filter: drop-shadow(0 0 5px var(--orange));
  transition: transform 0.2s ease;
}

.cards__container {
  position: relative;
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 2rem 0;
  z-index: 1;
}

.cards__container::-webkit-scrollbar {
  height: 8px;
}

.cards__container::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 4px;
}

.card {
  position: relative;
  flex: 0 0 auto;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: var(--bale-text);
  transition: transform 0.3s ease;
  overflow: hidden;
  cursor: default;
}

.card::before {
  content: "“";
  position: absolute;
  top: -10px;
  left: 80%;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.24);
  font-family: Georgia, serif;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(253, 133, 58, 0.5); 
}
.card__head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.card__head img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background: #ccc;
  border: 2px solid var(--orange);
  flex-shrink: 0;
}

.card__head h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: var(--bale-text);
}

.card__head h4 span {
  display: block;
  font-size: 0.85rem;
  color: var(--bg-dark);
  font-weight: 400;
  margin-top: 2px;
}

.starContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 0.5rem;
  position: relative;
  z-index: 2;
}

.starContainer img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
}

.rank {
  margin-left: auto;
  font-size: 1rem;
  font-weight: bold;
  color: var(--orange);
}


/* fifth section */

.contact {
  padding: 5rem 2rem;
  color: var(--clr-bg-footer);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.contact h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}


#formContainer {
  margin-top: 2rem;
  text-align: left;
}

#contactForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

#contactForm label {
  display: block;
  color: black;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--orange);
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
}

#contactForm textarea {
  background: transparent;
  color: black;
  resize: vertical;
}

#contactForm input {
  color: black;
  background: white;
}

#contactForm button {
  background: var(--orange);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
}


.contact__flare {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.contact__flare-element {
  border: 1px solid var(--clr-bg-footer);
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: transparent;
  color: var(--clr-bg-footer);
  transition: background 0.3s, color 0.3s;
}

.contact__flare-element:hover {
  background-color: var(--clr-primary);
  color: var(--bg--inputs);
}


/* footer */

footer {
  background-color: var(--bg-footer);
  color: var(--bale-text);
  padding: 3rem 2rem;
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.footer__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__head h2 {
  font-size: clamp(1.8rem, 4vw, 2.4rem);
  margin: 0;
  font-weight: 700;
  color: var(--orange);
  letter-spacing: 0.05em;
}

.footer__head button {
  background-color: var(--orange);
  color: var(--bale-text);
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer__head button:hover {
  background-color: var(--eclipse-dash);
}

.footer__mid {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__mid-left {
  flex: 1 1 300px;
  max-width: 450px;
}

.footer__mid-left .icon {
  width: 60px;
  height: 60px;
  background-color: var(--orange);
  border-radius: 50%;
  margin-bottom: 1rem;
}

.footer__mid-left p {
  line-height: 1.5;
  font-size: 0.95rem;
  color: var(--bg-tags);
  margin-bottom: 1.5rem;
}

.social {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social li img.bg-orange {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.social li img.bg-orange:hover {
  filter: brightness(0) saturate(100%) invert(45%) sepia(75%) saturate(377%)
    hue-rotate(4deg) brightness(99%) contrast(110%);
}

.footer__mid-right {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex: 1 1 400px;
  justify-content: space-between;
}

.footer__mid-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 140px;
  max-width: 30%;
}

.footer__mid-right ul li,
.footer__mid-right ul li a {
  font-size: 0.85rem;
  text-decoration: none;
  margin-bottom: 0.6rem;
  display: block;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer__list-Head {
  font-weight: 700;
  color: var(--orange);
  cursor: default;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer__mid-right ul li a {
  color: var(--bale-text);
}

.footer__mid-right ul li a:hover {
  color: var(--orange);
  text-decoration: underline;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

#getUpdatesForm input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.submit-btn {
  position: absolute;
  top: 60%;
  right: 1px;
  transform: translateY(-50%);
  background-color: var(--orange);
  border: none;
  padding: 3.7px;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.footer__end {
  border-top: 1px solid var(--bg-tags);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8rem;
  color: var(--bg-tags);
}

.footer__end a {
  color: var(--bg-tags);
  text-decoration: none;
  margin: 0 0.3rem;
  transition: color 0.3s ease;
}

.footer__end a:hover {
  color: var(--orange);
  text-decoration: underline;
}

@media (max-width: 700px) {
  .footer__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer__mid {
    flex-direction: column;
  }
  .footer__mid-right {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__end {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}


/*  added comp  */


